[submodule "f/system/ui"]
	path = f/system/ui
	url = git@github.com:topan-dev/TopanUI.git

[submodule "f/system/mathjax"]
	path = f/system/mathjax
	url = https://github.com/mathjax/MathJax.git
	branch = v2.6-latest
